^{:watch-dirs   ["src/cljs" "src/cljc" "test/cljs" "test/cljc"]
  :css-dirs     ["resources/public/css"]
  :auto-testing true
  :open-url     "http://[[server-hostname]]:[[server-port]]/figwheel-extra-main/auto-testing"}
{:main       luma.core
 :preloads   [re-frisk.preload]
 :output-to  "target/public/js/dev-main.js"
 :output-dir "target/public/js/dev"}
