^{:watch-dirs   ["src/cljs" "src/cljc" "test/cljs" "test/cljc"]
  :auto-testing true
  :open-url     "http://[[server-hostname]]:[[server-port]]/figwheel-extra-main/auto-testing"}
{:main         luma.core
 :preloads     [devtools.preload
                re-frisk.preload]
 :output-to    "target/public/js/dev-main.js"
 :output-dir   "target/public/js/dev"
 :foreign-libs [{:file           "reagent-util/dist/reagent-util.inc.js"
                 :provides       ["material-ui-lab"]
                 :global-exports {material-ui-lab MaterialUILab}}]}
