^{:watch-dirs ["src/cljs" "src/cljc"]}
{:main            luma.core
 :output-to       "target/public/js/prod-main.js"
 :output-dir      "target/public/js/compiled"
 :optimizations   :advanced
 :closure-defines {goog.DEBUG false}}
