^{:watch-dirs ["src/cljs" "src/cljc"]}
{:main            luma.core
 :output-to       "target/public/js/prod-main.js"
 :output-dir      "target/public/js/compiled"
 :optimizations   :advanced
 :closure-defines {goog.DEBUG false}
 :foreign-libs    [{:file           "reagent-util/dist/reagent-util.min.inc.js"
                    :provides       ["material-ui-lab"]
                    :global-exports {material-ui-lab MaterialUILab}}]
 :externs         ["reagent-util/src/js/reagent-util.ext.js"]}
